@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to top right, #000000 0%, #666699 100%);
    font-family: Roboto;
    font-size: 20px;
    user-select: none;
}

button {
    background: #2b323d;
    color: black;
    font-size: 20px;
}

.calculator {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
    min-height: 100vh;
  }

.button-span {
    grid-column: span 2;
}

.screen {
    grid-column: 1 / -1;
    background-color: #161f2e;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
  }

[data-num], [data-decimal] {
    background: #3c485c;
}

.screen, button {
    border-color: #161f2e;
    border-width: 1px;
    border-style: solid;
    color: white;
}