html, body {
    background: lightcoral;
    height: 100vh;
    margin: 20%;
    color: white;
    font-size: 36px;
}
 
.button, .button-row, .input, .input-row, .output, .output-row, .calculator, .container, .clear {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    flex-direction: column;
}

.calculator {
    background: white;
    height: 600px;
    width: 400px;
    flex-direction: column;
}

.button-row {
    background: grey;
    gap: 2px;
    height: 20%;
    width: 100%;
}

.input-row {
    background: grey;
    gap: 2px;
    height: 10%;
    width: 100%;
}

.input, .output {
    background: grey;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    margin-right: 20px;
}

.clear {
    margin-left: 10px;
}

.button {
    background: black;
    height: 95%;
    width: 24%;
}