html, body {
    background: lightcoral;
    height: 100vh;
    margin: 20%;
    color: white;
    font-size: 36px;
}
 
.button, .button-row, .calculator, .container, .clear, .backspace {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    flex-direction: column;
}

.calculator {
    background: white;
    height: 600px;
    width: 400px;
    flex-direction: column;
}

.button-row {
    background: grey;
    gap: 2px;
    height: 20%;
    width: 100%;
}

.input-row {
    background: grey;
    gap: 2px;
    height: 10%;
    width: 100%;
}

.output-row {
    background: darkgrey;;
    gap: 2px;
    height: 10%;
    width: 100%;
}

.input-row, .output-row {
    display: flex;
    justify-content: flex-end;
}

.input, .output, .stored-input, .operator {
    background: grey;
    height: 100%;
    justify-content: flex-end;
}

.clear, .backspace {
}

.button {
    background: black;
    height: 95%;
    width: 24%;
}